
html,
body {
  color: #f5f5f5;
  background-color: #0f2a0f;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1b3d1b, #6bbf59);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: #fff;
}

.cta-btn {
  letter-spacing: 0.5px;
}